body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: yellow;
    }
h1 {
    color: darkblue;
    }
ul {
    list-style-type: none;
    padding: 0;
    }
li {
    margin: 10px;
    text-decoration: none;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    }
a:hover {
    background-color: deepskyblue;
    color: white;
    }
